
body {
    font-size: 14px; 
    color: #333; 
    background-color: #fff; 
    letter-spacing: 1px; 
}


.titleMessage {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}


.titleMessage .heading p{
    color:  #080808;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.4);
    font-weight: 100;
    letter-spacing: 7px;
}
.titleMessage .heading p span{
    background: #F5F5F5; 
    padding: 6px 12px 0;
}
.titleMessage .heading .main{
    font-size: 50px; 
}
.titleMessage .heading .sub{
    font-size: 23px; 
}


.section{
    padding: 100px 0px;  /* top and bottom; left and right */
}


.aboutImage{
    max_width: 50%; 
    
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}




.skillsSection, 
.contactSection {
    background-color: #8e8275; 
    color: #fff; 
}


.skill{
    text-align: center; 
    margin-left: 10px; 
}

.chart{
    position: relative; 
    width: 152px; 
    height: 152px; 
    display: inline-block; 
    text-align: center; 
}


.chart canvas{
    position: absolute; /* position relative to closest parent */
    left: 0px; 
    top: 0px; 
}


.chart .percent {
    color: #e6ccb0; 
    line-height: 152px; 
    display: inline-block; 
    font-size: 35px; 
}

.chart .percent:after { /* after content */
    content: '%'
}


.squareItem{
    margin-top: 30px; 
    position: relative;
}


.squareInnerContainer{
    position: relative; 
    padding: 50px 15px 35px; 
    text-align: center; 
    border: 2px solid #444;
    border-top: none; 
}


.squareInnerContainer:before,
.squareInnerContainer:after {
    content: ''; 
    position: absolute; 
    top: 0px; 
    width: 30%;
    border-bottom: 2px solid #444;
}



.squareInnerContainer:before{
    right: 0px; 
}


.squareInnerContainer:after{
    left: 0px; 
}


.squareContent h2 {
    font-size: 56px; 
    margin-bottom: 10px; 
    font-weight: 400; 
    color: #8e8275; 
}


.squareContent h3 {
    font-size: 13px; 
    font-weight: 600; 
    margin: 0; 
}


.squareIcon{
    position: absolute; 
    left: 50%; 
    top: -30px; 
    width: 40%; 
    height: 60px; 
    font-size: 45px; 
    margin-left: -20%; 
    color: #444; 
}


.contactButton{
    color: #fff; 
    padding: 15px 20px; 
    display: inline-block; 
    margin-top: 20px; 
    border: 1px solid #fff; 
    border-radius: 2px; 
}
.contactButton:hover {
    text-decoration: none; 
    color: #8e8275; 
    background-color: #fff; 
}



.filter a{
    color: #bdc3c7; 
    border: 1px solid #bdc3c7;
    padding: 10px 18px; 
    display: block; 
}

.filter li{
    display: inline-block; 
    padding: 5px; 
}

.filter .current{
    background-color: #e74c3c; 
    border-color: #e74c3c;
    color: #fff; 
}


.filter{
    text-align: center; 
    width: 100%; 
}

.section .heading{
    text-align: center; 
    padding-bottom: 40px; 
    width: 100%; 
}



.items li {
    display: inline-block; 
    padding: 5px; 
}


.itemsContainer{
    width: 100%; 
}


.items li img{
    width: 100%; 

    /* slow zoom into icon pic */

    -webkit-transition: all 0.2s linear, 1s; /* chrome */ 
    -moz-transition: all 0.2s linear, 1s; /* mozilla */ 
    -o-transition: all 0.2s linear, 1s; /* opera */
    -ms-transition: all 0.2s linear, 1s; /* edge and IE */
    -transition: all 0.2s linear, 1s; /* edge and IE */
}


.items .item {
    position: relative; 
    display: block; 
    overflow: hidden; 
}


.items .icons{
    position: absolute; 
    width: 90px; 
    height: 40px; 
    left: 50%; 
    top: 50%; 
    margin: -20px auto 0 -47px;
    text-align: center; 
    z-index: 3;  
}


.items .icons i { /* i element */
    color: #fff; 
    font-size: 20px; 
    margin: 9px; 
}


.items a {
    width: 40px; 
    height: 40px; 
    background-color: #c28796; 
    position: relative; 
    display: inline-block; 
    opacity: 0.7;

    /* gradually fly in buttons in front of icons */

    /* -webkit-transition: all 0.2s linear, 0.2s; */ /* chrome */ 
    /* -moz-transition: all 0.2s linear, 0.2s; */ /* mozilla */ 
    /* -o-transition: all 0.2s linear, 0.2s; *//* opera */
    /* -ms-transition: all 0.2s linear, 0.2s; *//* edge and IE */
    /* -transition: all 0.2s linear, 0.2s; */ /* edge and IE */

}


/* doesn't seem to work on gifs */

.items .imageOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba (0,0,0,0.5); 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    opacity: 0; /* hides */ 

    /* gradually fade in overlay */

    -webkit-transition: all 0.2s linear, 1s; /* chrome */ 
    -moz-transition: all 0.2s linear, 1s; /* mozilla */ 
    -o-transition: all 0.2s linear, 1s; /* opera */
    -ms-transition: all 0.2s linear, 1s; /* edge and IE */
    -transition: all 0.2s linear, 1s; /* edge and IE */
}


.items .item:hover .imageOverlay{
    opacity: 1; 
}



.items .openButton {
    float: left; 
    left: -200px; 
}

.items .projectLink {
    float: left; 
    right: -200px; 
}

.items .item:hover .openButton {
    left: 0px; 
}


.items .item:hover .projectLink {
    right: 0px; 
}



.items .item:hover img{

    /* small zoom into pic upon mouse over */
    -webkit-transform: scale(1.05, 1.05); /* chrome */ 
    -moz-transform: scale(1.05, 1.05); /* mozilla */ 
    -o-transform: scale(1.05, 1.05); /* opera */
    -ms-transform: scale(1.05, 1.05); /* edge and IE */
    -transform: scale(1.05, 1.05); /* edge and IE */
}


.items {
    padding: 0; 
}



.copyrightSection{
    background-color: #000;
    color: #fff;
    padding: 30px 5px; 
}

.copyrightSection p{
    margin: 0; 
}



#navigation{
    background-color: #FEFEFA; 
    padding: 20px 10px; 
    z-index: 100;   
    width: 100%; 
}

#navigation li{
    padding: 0 10px; 
}


#navigation li a{
    color: #c28796; 
}


.navbar-brand,
.navbar-brand:hover{
    color: #c28796; 
}

/* not working */

.navbar-toggler-icon{
    background: url(../img/icons/menu.png); 
    background-size: 100%; 
}



.fixedNav #navigation {
    position: fixed; 
    top: 0; 
}



.loader{
    width: 100%; 
    height: 100%; 
    background-color: #fff; 
    position: fixed; 
    top: 0px; 
    left: 0px; 
    z-index: 1000; /* use big number because always want loader to be on top */
}

.loader .inner{
    width: 100%; 
    height: 100%; 
    background: url(../img/loader.gif) center center no-repeat; /* vertically and horizontally centered and no repeat of images */
}



/* horizontal scrolling arrows for technical skills */

.owl-carousel {
    position: relative;
}
 
.owl-nav {
    font-size: 30px;
    position: absolute;
    top: 25%;
    width: 100%;
}
 
.owl-prev,
.owl-next {
    position: absolute;
}
 
.owl-prev {
    left: 0px;
}
 
.owl-next {
    right: 0px;
}


/* NOTE: use overlay to darken images

.overlay{
    width: 100%; 
    height: 100%; 
    position: absolute; 
    z-index: 3   NOTE: order to show things in (in front or behind) 
    background-color: rgba(0, 0, 0, 0.4) NOTE: red, green, and blue all have 0 as value so it's black; opacity: 0.4
}


NOTE: arrows

.slides-navigation .prev, 
.slides-navigation .next{

    width: 47px; 
    height: 47px; 
    background-size: cover; /* NOTE: image covers all 47px 
    background-repeat: no-repeat; /* NOTE: do not repeat image if you run out of space 

}


.slides-navigation a.prev{
    left: 100px; 
    background-image: url(../img/icons/previous_arrow.png); 

}



.slides-navigation a.next{
    right: 100px; 
    background-image: url(../img/icons/next_arrow.png); 

}

*/

